/* Ustawienia stylów dla całego dokumentu */
body {
    font-family: Arial;
    background-color: #000000;
    background-size: cover;
    color: #ffffff;
}

/* Styl dla nagłówka */
header {
    background-color: #ffffff00;
    color: #08f800;
    text-align: center;
    padding: 20px;
}

/* Styl dla nawigacji */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00000065;
    overflow: hidden;
}

/* Styl dla elementów listy nawigacji */
nav ul li {
    float: left;
}

/* Styl dla linków nawigacyjnych */
nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Styl dla linków nawigacyjnych po najechaniu myszką */
nav ul li a:hover {
    background-color: #000000a9;
}

/* Styl dla kontenerów */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

/* Styl dla nagłówków h1 */
h1 {
    color: #e9b302;
}

/* Styl dla nagłówków h2 */
h2 {
    color: #ffffff;
}

/* Styl dla obrazów */
img {
    float: left;
    margin: 0 20px 20px 0;
    width: 200px;
}

/* Styl dla klasy tekst */
.tekst {
    overflow: hidden;
}

/* Styl dla tabeli */
.tabela {
    color: #000000;
    border: 1px solid #333;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
    border-collapse: collapse;
}

/* Styl dla komórek tabeli */
.tabela td {
    border: 1px solid #333;
    padding: 10px;
    background-color: #f9f9f9;
}

/* Styl dla komórek tabeli "tytul" */
.tabela td.tytul {
    background-color: #e1e1e1;
    font-weight: bold;
}

/* Styl dla formularzy */
.formularz input, .formularz textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

/* Styl dla przycisku wysyłania formularza */
.formularz input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Styl dla przycisku wysyłania formularza po najechaniu myszką */
.formularz input[type="submit"]:hover {
    background-color: #555;
}

/* Styl dla galerii */
.galeria {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Styl dla obrazów w galerii */
.galeria img {
    width: 500;
    height: auto;
    margin-right: 10px;
}

/* Styl dla ostatniego obrazu w galerii */
.galeria img:last-child {
    margin-right: 0;
}

/* Styl dla klasy "dol" */
.dol {
    display: block;
    width: 60%; 
    height: auto; 
    margin-top: 20px; 
}

/* Styl dla zegarka */
#zegarek {
    background-color: #00000065;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 25px;
}

/* Styl dla daty */
#data {
    background-color: #00000065;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

/* Styl dla klasy animacji testowej */
.test-block { 
    width: 200px;
    border: 2px solid rgba(71,236,30, 1);
    background: rgba(71,236,30,0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
